{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}


{% block content %}

<div class="row my-4">
    
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">order by</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@twitter</td>
                    <td>student</td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}