{% extends 'partials/base.html' %}
{% block title %}Staff Page{% endblock %}


{% block content %}

<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Jacob</td>
                    <td>Thomton</td>
                    <td>@fat</td>
                </tr>
                
            </tbody>
            
        </table>
    </div>
</div>

{% endblock %}
